.map {
  position: relative !important;
  width: 75% !important;
  height: 500px !important;
  margin-bottom: 50px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  border: solid 1px;
}

.logo{
  background-image: url('../images/pozadi.png');
  background-size: cover;
  display:block;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 100%;
}
.img-responsive{
  max-width: 25%;
  margin: 0 auto;
}

h1{
  text-align: center;
  font-size: 300%;
}

.frontPage{
  text-align: center;
}

.frontLogo{
  background-image: url(../images/pozadi.png);
  background-size: cover;
  display:block;
  align-items: center;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 100%;
}

.logo-big{
  max-width: 40s%;
  margin: 0 auto;
}

.frontHeader{
  font-family: 'MTCORSVA';
  font-style: italic;
  color: rgb(128,0,128);
  font-size: 600%;
}
#navigation{
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 1030;
  font-family: "andalus";
}

.pages{
  background-color: white;
  border-radius: 25px;
  height: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  font-family: "andalus";
  font-size: 125%;
}

.kombinovana-terapie{
  background-color: rgb(242,144,147);
  min-height: 100vh;
  max-height: 100%;

}
.kontakt{
  background-color: rgb(181,208,91) !important;
  min-height: 100vh;
  max-height: 100%;
}

.masaze{
  background-color: rgb(75,193,238);
  min-height: 100vh;
  max-height: 100%;
}

.energeticke-cisteni-prostor{
  background-color: rgb(165,112,173);
  min-height: 100vh;
  max-height: 100%;
}
.uvodni-strana{
  background-image: url('../images/vesmir.png');
  background-size: cover;
  min-height: 100vh;
  max-height: 100%;
}
.terapie-pastelkou{
  min-height: 100vh;
  max-height: 100%;
}

@font-face {
	font-family: 'MTCORSVA';
	src: url('./MTCORSVA.eot');
	src: local('MTCORSVA'), url('./MTCORSVA.woff') format('woff'), url('./MTCORSVA.ttf') format('truetype');
}
.row-centered{
  text-align: center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.thumbnail {
    border: 0 none;
    box-shadow: none;
    width: 40%;
}
