html {
  background-image: url(/assets/images/pozadi.png);
  background-size: cover;
}

.map {
  position: relative !important;
  width: 75% !important;
  height: 500px !important;
  margin-bottom: 50px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  border: solid 1px;
}

.logo{
  display:block;
  margin: 0 auto;
  width: 40%;
  align-self: center;
}

.frontLogo{
  display:block;
  margin: 0 auto;
  align-self: center;
}

.frontHeader{
  text-align: center;
}

#navigation{
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 1030;
}
